[core]
        excludesfile = ~/.gitignore
[alias]
	br = branch
	ci = commit
	co = checkout
        lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	pf = push -f
	st = status
	apf = !git add . && git ci --amend --no-edit && git pf
[pull]
        rebase = true
